<div class="flex-row-container">
    <div class="flex-row-item">
        <img class="img-fluid" src="{{product.image}}">
    </div>
    <div class="flex-row-item"><a routerLink="/product/{{ product.id }}">{{product.name}}</a></div>
    <div class="flex-row-item"><a class="text-muted">Quantity: {{product.quantity}}</a></div>
    <div class="flex-row-item"><a class="text-muted">Price: {{ product.price | currency: "EUR" }}</a></div> 
    <div class="flex-row-item"><a class="navigation-item" routerLink="/cart"></a><span class="close" (click)="removeFromCart()">&#10005;</span></div>  
</div>
