.flex-row-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(209, 209, 209, 0.9);
    
}
.flex-row-container > .flex-row-item {
    flex: 1 1 10%; /*grow | shrink | basis */
    height: 100px;
}

.flex-row-item {
  background-color:white;
}

img {
    height: 100%
}
