<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{nItems$ | async}} items</div>
                </div>
            </div>
            <app-cart-item *ngFor="let product of productsList$ | async" [product]="product"></app-cart-item>
            
            <div class="back-to-shop"><a routerLink="/">&leftarrow; Back to Store</a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>CHECKOUT</b></h5>
            </div>
            <hr>
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <label>Full Name</label>
                <input type="text" name="full_name" placeholder="full name" [(ngModel)]="full_name" pattern="([a-zA-Z]+\s)+([a-zA-Z]+)" required minlength="6" #fullName="ngModel">
                <div *ngIf="fullName.invalid && fullName.dirty">
                    Please provide your full name as follows: "FirstName LastName".
                </div>
                
                <label>Adress</label>
                <input type="text" name="adress" placeholder="adress" pattern="([a-zA-Z-]+\s)+(([a-zA-Z-]+)\s)*\d+" required minlength="6" [(ngModel)]="adress" #fullAdress="ngModel">
                <div *ngIf="fullAdress.invalid && fullAdress.dirty">
                    Please provide your adress as follows: "City Streetname HouseNumber".
                </div>

                <label>Credit Card Number</label>
                <input type="text" name="credit_card" placeholder="credit card number" pattern="(\d{4}(\s)?){4}" minlength="16" maxlength="16" [(ngModel)]="credit_card" #creditCard="ngModel">
                <div *ngIf="creditCard.errors?.pattern">
                    Please provide a 16 digit credit card number.
                </div>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; {{total$ | async}}</div>
            </div> 
            <div class="error-message" *ngIf="(this.nItems$ | async) == 0">
                Your cart is empty
            </div>
            <button  class="btn" type="submit" [disabled]="form.invalid || (this.nItems$ | async) == 0" >ORDER</button>
             
        </form>
        </div>
    </div>
</div>